<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active item-menu-catalogue"><%= link_to 'Agregar aeronaves',new_aircraft_path %></li>
    <li class="item-menu-catalogue"><%= link_to 'Agregar sistemas',new_system_path %></li>
    <li class="item-menu-catalogue"><%= link_to 'Agregar componentes',new_component_path %></li>
  </ul>
</div>
<div class="container">
  <%= form_for(@aircraft, remote: true) do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :plate_number, 'Crear numero de matricula' %>
            <%= f.text_field :plate_number, class:'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :beginning_time, 'Inicio de operaciones' %>
            <input type="text" class='datepicker form-control' id="aircraft_beginning_time" name="aircraft[beginning_time]">
          </div>

          <div class="form-group">
            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
          </div>
        </div>
        <div class="col-md-8 aircrafts-list">
          LISTA DE AERONAVES
          <% @aircrafts.each do |aircraft| %>
            <p><%= aircraft.plate_number %></p>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#new_aircraft").on("ajax:complete", function(){
            $('#aircraft_plate_number').val('');
            $('#aircraft_beginning_time').val('');
        });

        $('.datepicker').datepicker({
            format: "yyyy/mm/dd",
            language: "es",
            clearBtn: true,
            autoclose: true
        });
    });
</script>